*{
font-family: Arial;
background-color: aliceblue;

}

header{
    padding: 5px;
    background-color: #56A5EC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ico {
    display: flex;
}

.info{
    min-width: 300px;
    margin-left: 20px;
}

.info input[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 50%;

}

ul, li, a, .lupa, .compras{
    list-style-type: none;
    background-color: #56A5EC;
    display: flex;
    gap: 10px;
    text-decoration: none;
}


img {
    height: 500px;
    border-radius: 20px;
}

select{
    margin-bottom: 10px;
}
.container{
    padding: 200px;
    text-align: left;
    display: flex;
    
    
}

footer{
    
    padding: 10px 10px;
    display: flex;
    gap: 22px;
    
}
.producao{
    text-align: justify;
}


.estrela{
    display:flex;
    align-items: center;
    
}

.avaliacao{
    font-size: smaller;
    color: silver;
}

.negrito{
font-weight: bold;
}

.carrinho{
    background-color: black;
    color: white;
    padding: 7px;
}